@page "/gather"
@using Game.Components.Gather
@using Game.Components.Player
@inject GameState Game

<div style="text-align:center;">
    <h3>Resources</h3>
    @foreach(var resource in Game.Player.UnlockedResources)
    {
        <GatherResource resource="resource" chest="Game.Player.Chest" />
    }
    <ChestSummary />
</div>