@using Game.Models
@using Game.Services
@inject IResourceService rs
@inject GameState Game

<div class="card" style="padding:20px; margin-top:40px; text-align:center;">
    <p>@resource.Name</p>
    <button class="btn btn-primary" @onclick="() => AddResource()">Gather</button>
</div>

@code {
    [Parameter]
    public Resource resource { get; set; }

    [Parameter]
    public Chest chest { get; set; }

    public void AddResource()
    {
        rs.AddToChest(chest, resource);
        Game.NotifyStateChanged();
    }
}
