@inject GameState Game

<div>
    <h4>Chest</h4>
    <p>@ChestItemCount/@ChestItemMax Max Resources</p>
    <ChestContents />
</div>

@code {
    private int ChestItemCount { get; set; }
    private int ChestItemMax { get; set; }

    protected override void OnInitialized()
    {
        Game.OnStateChanged += OnGameStateChanged;
        UpdateChestDetails();
    }

    private void OnGameStateChanged()
    {
        UpdateChestDetails();
        InvokeAsync(StateHasChanged);
    }

    private void UpdateChestDetails()
    {
        ChestItemCount = Game.Player.Chest.Contents.Count;
        ChestItemMax = Game.Player.Chest.ItemMax;
    }
}
